In [16]:
import pandas as pd
import numpy as np

In [17]:
URL = 'https://raw.githubusercontent.com/aviralb13/git-codes/main/datas/brainstroke.csv'
data = pd.read_csv(URL)
data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.00,0,1,Yes,Private,Urban,228.69,36.60,formerly smoked,1
1,Male,80.00,0,1,Yes,Private,Rural,105.92,32.50,never smoked,1
2,Female,49.00,0,0,Yes,Private,Urban,171.23,34.40,smokes,1
3,Female,79.00,1,0,Yes,Self-employed,Rural,174.12,24.00,never smoked,1
4,Male,81.00,0,0,Yes,Private,Urban,186.21,29.00,formerly smoked,1

In [18]:
one_hot = pd.get_dummies(data['gender'])
data = data.drop('gender',axis = 1)
data = data.join(one_hot)

one_hot = pd.get_dummies(data['work_type'])
data = data.drop('work_type',axis = 1)
data = data.join(one_hot)

from sklearn import preprocessing

label = preprocessing.LabelEncoder()
data['ever_married'] = label.fit_transform(data['ever_married'])

data.head()

,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,Female,Male,Govt_job,Private,Self-employed,children
0,67.00,0,1,1,Urban,228.69,36.60,formerly smoked,1,0,1,0,1,0,0
1,80.00,0,1,1,Rural,105.92,32.50,never smoked,1,0,1,0,1,0,0
2,49.00,0,0,1,Urban,171.23,34.40,smokes,1,1,0,0,1,0,0
3,79.00,1,0,1,Rural,174.12,24.00,never smoked,1,1,0,0,0,1,0
4,81.00,0,0,1,Urban,186.21,29.00,formerly smoked,1,0,1,0,1,0,0

In [23]:
features = ['age', 'hypertension', 'heart_disease', 'ever_married','Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status','Female', 'Male', 'Govt_job', 'Private', 'Self-employed','children']
x = data[features]
y = data['stroke']

In [24]:
from sklearn.model_selection import train_test_split

train_x,test_x,train_y,test_y = train_test_split(x,y)

In [26]:
from sklearn.ensemble import RandomForestClassifier
regressor_model = RandomForestClassifier()
regressor_model.fit(train_x,train_y)

RandomForestClassifier()

In [28]:
from sklearn.metrics import accuracy_score

predictions = regressor_model.predict(test_x)
accuracy_score(test_y, predictions)

0.9478330658105939